<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form-login</title>
</head>
<body>
  <h2>Form Login</h2>
  <% { user } %>
  <form action="/login" method="POST">
    <div>
      EMAIL: <input type="email" name="email">
    </div>
    <br>
    <div>
      PASSWORD: <input type="password" name="password">
    </div>
    <br>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
</body>
</html>