<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <h2>Form Register</h2>
  <% { user } %>
  <form action="/register" method="POST">
    <div>
      NAME:{" "}
      <input
        type="text"
        name="name"
        
      />
    </div>
    <div>
      SURNAME:{" "}
      <input
        type="text"
        name="surname"
        
      />
    </div>
    <div>
      EMAIL:{" "}
      <input
        type="email"
        name="email"
        
      />
    </div>
    <div>
      PASSWORD:{" "}
      <input
        type="password"
        name="password"
        
      />
    </div>
    <div>
      PHONE:{" "}
      <input
        type="phone"
        name="phone"
        
      />
    </div>
    <div>
      POSTALCODE:{" "}
      <input
        type="text"
        name="postalcode"
        
      />
    </div>
    <div>
      CITY:{" "}
      <input
        type="text"
        name="city"
        
      />
    </div>
    <div>
      ADDRESS:{" "}
      <input
        type="address"
        name="address"
      />
    </div>

    <div>
      <button type="submit">Register</button>
    </div>
  </form>
</body>
</html>